@font-face {
    font-family: "Gora-Free";
    src: url("~@/assets/fonts/Gora-Free.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("~@/assets/fonts/OpenSans-Light.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("~@/assets/fonts/OpenSans-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-LightItalic";
    src: url("~@/assets/fonts/OpenSans-LightItalic.ttf");
    font-weight: normal;
    font-style: normal;
}